<!-- chat/templates/chat/index.html -->

{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link href="{% static 'css/c3.css' %}" rel='stylesheet'>
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="{% static 'js/c3.js' %}"></script>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/v4orbit.js' %}"></script>
    <meta charset="utf-8"/>
    <title>Vepp4 Journal</title>
</head>
<body>
    
    <div id="stap_pvs"></div>
    <iframe src="http://free.timeanddate.com/clock/i6pcizfs/n375/tlru33/fn14/fs24/fcfff/tc003849/ftb/tt0/tw0/tm3/td2/th1/tb2" frameborder="0" width="225" height="30"></iframe>
    <div id="orbit_data"></div>
    <div id="v4xorbit"></div>
    <div id="v4zorbit"></div>

    <script>

        var pv_dict = {}

        function displayPvDict(){
            var list_div = $("#stap_pvs");
            console.log(list_div)
            list_div.empty();
            for(var pv in pv_dict){
                list_div.append($("<p>").append(pv+" "+pv_dict[pv]))
            }
        };

        var chatSocket = new WebSocket(
            'ws://' + window.location.host + '/ws/vepp4journal/'
        );

        chatSocket.onmessage = function(e) {
            var data = JSON.parse(e.data);
            var message = data['message'];
            pv_dict[message.pv] = message.value;
            displayPvDict();
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

    </script>
</body>
</html>
